.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}


#table-tally{
    box-shadow: 1px 6px 6px grey!important;
}

#table-gs{
    box-shadow: 1px 6px 6px grey!important;
}

th{
    text-align: center!important;
    font-size: 12px!important;
    color:white!important;
    vertical-align: middle!important;
}

#table-header-fixed th{
    text-align: center!important;
    font-size: 12px!important;
    max-width:131px!important;
    min-width:131px!important;
    background: #838C93!important;
    border-width:5px!important;
    border-style:outset!important;
}

#missing-voucher-data{
    max-width:131px!important;
    min-width:131px!important;
    min-height: 10px!important;
    max-height: 10px!important;
}

#missing-data-row{
    max-width: 100px!important;
}
td{
    text-align: center!important;
    vertical-align: middle!important;
    font-size: 16px!important;
    background: white!important;
    }

#tally-header{
    color:black!important;
    font-size: 16px!important;
}

#gs-header{
    color:white!important;
    font-size: 15px!important;
}

#resync-header{
    min-width:300px!important;
}
#reconcile-btn{
    color: white!important;
}
#reconcile-btn:hover{
    background: white!important;
    color: black!important;
}

body{
    background:rgb(40, 63, 89)!important;
}

.dropbtn {
    background-color: rgb(40, 63, 89);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10px;
  }

  .dropdown {
    position: relative;
    display: inline-block;

  }

  .dropdown-content {
    box-sizing: border-box;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 120px;
    top:38px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 10px!important;
    text-decoration: none;
    display: block;
    position: relative;
    left:10px;
    }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color:rgb(40, 63, 89);}

  i {
    display: inline-block;
    margin-right: 0.8em;
  }

  option {
    color: black;
    padding: 10px 10px!important;
    text-decoration: none;
    display: block;
    position: relative;
    left:10px;
  }

  #inputGroupSelect04 {
    position: relative!important;
    font-family: Arial!important;
    font-size: medium!important;
  }

  #inputGroupSelect04 #option{
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;

  }


button{
  box-shadow: 6px 4px 4px grey!important;
}

#namelabel {
  position:absolute!important;
  top:26px!important;
  left:190px!important;
}


#name {
  position:absolute!important;
  top:10px!important;
  left:260px!important;
  background: transparent!important;
  border: none!important;
  border-bottom: 1px solid grey!important;
  outline:none!important;
  box-shadow:none!important;
  width: 200px!important;
}

#idlabel {
  position:absolute!important;
  top:26px!important;
  left:630px!important;
}


#id {
  position:absolute!important;
  top:10px!important;
  left:660px!important;
  background: transparent!important;
  border: none!important;
  border-bottom: 1px solid grey!important;
  outline:none!important;
  box-shadow:none!important;
  width: 200px!important;
}

#rolelabel {
  position:absolute!important;
  top:26px!important;
  left:930px!important;
}

#selectrole{
  position:absolute!important;
  top:15px!important;
  left:990px!important;
  background: transparent!important;
  border: none!important;
  border-bottom: 1px solid grey!important;
  outline:none!important;
  box-shadow:none!important;
  width: 200px!important;
}

#datelabel {
  position:absolute!important;
  top:6px!important;
  left:0px!important;
}

#datepicker{
  position:absolute!important;
  top:20px!important;
  left:1290px!important;
  width: 200px!important;
}

#accountlabel{
  position:absolute!important;
  top:126px!important;
  left:320px!important;
}

#account{
  position:absolute!important;
  top:110px!important;
  left:400px!important;
  background: transparent!important;
  border: none!important;
  border-bottom: 1px solid grey!important;
  outline:none!important;
  box-shadow:none!important;
  width: 200px!important;
}

#ifsclabel{
  position:absolute!important;
  top:126px!important;
  left:650px!important;
}

#ifsc{
  position:absolute!important;
  top:110px!important;
  left:700px!important;
  background: transparent!important;
  border: none!important;
  border-bottom: 1px solid grey!important;
  outline:none!important;
  box-shadow:none!important;
  width: 200px!important;
}

#instrnolabel{
  position:absolute!important;
  top:126px!important;
  left:950px!important;
}

#instrno{
  position:absolute!important;
  top:110px!important;
  left:1030px!important;
  background: transparent!important;
  border: none!important;
  border-bottom: 1px solid grey!important;
  outline:none!important;
  box-shadow:none!important;
  width: 200px!important;
}

#bankdatelabel{
  position:absolute!important;
  top:126px!important;
  left:1280px!important;
}

#bankdate{
  position:absolute!important;
  top:110px!important;
  left:1330px!important;
  background: transparent!important;
  border: none!important;
  border-bottom: 1px solid grey!important;
  outline:none!important;
  box-shadow:none!important;
  width: 200px!important;
}

#transactiontypelabel{
  position:absolute!important;
  top:126px!important;
  left:10px!important;
}

#selecttransactiontype{
  position:absolute!important;
  top:120px!important;
  left:160px!important;
  width: 130px!important;
}
#presentlabel{
  position: relative;
  left:10px;
  top:10px;
}
#present{
  width: 100px;
  position: relative;
  left:92px;
  top:-30px;
}
#leavelabel{
  position: relative;
  left:10px;
  top:-20px;
}
#leave{
  width: 100px;
  position: relative;
  left:92px;
  top:-60px;
}
#overtimelabel{
  position: relative;
  left:10px;
  top:-50px;
}
#overtime{
  width: 100px;
  position: relative;
  left:92px;
  top:-90px;
}
#computebtn{
  position: absolute;
  left:600px;
  top:130px;
}

#basicpaylabel{
  position: relative;
  left:10px;
  top:10px;
}
#basicpay{
  width: 100px;
  position: relative;
  left:92px;
  top:-30px;
}
#dalabel{
  position: relative;
  left:10px;
  top:-20px;
}
#da{
  width: 100px;
  position: relative;
  left:92px;
  top:-60px;
}
#hralabel{
  position: relative;
  left:10px;
  top:-50px;
}
#hra{
  width: 100px;
  position: relative;
  left:92px;
  top:-90px;
}