.navbar{
  background-color: #2a78be;
}

.navbar-brand{
  color: whitesmoke;
}

h1{
  font-size: large;
}

body{
  background-color:#eeeff5;
}

.card{
  min-height: 800px!important;
  border: 3px solid grey;
  }
.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

#notification-settings{
  position: relative;
  left:134px;
  top:32px;
}

#notification-display{
  position: relative;
  left:194px;
  top:32px;
}

#choose-whatsapp-template{
position: absolute;
top:48px;
left:250px;
}

.enable-sms{
  position: absolute;
  top:140px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#dec0ce;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .6s;
  transition: .6s;
}


input:checked + .slider {
  background-color: #1b11a9;
}

input:focus + .slider {
  box-shadow: 0 0 1px  #1b11a9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#enable-sms-label{
  position: absolute;
  left:90px;
  top:8px;
}

#enable-whatsapp-label{
  position: relative;
  left:10px;
  top:5px;
}

.enable-whatsapp{
  position: absolute;
  top:140px;
  left:300px;
}

#sms-phone{
  position: absolute;
  top:220px;
}

#whatsapp-phone{
  position: absolute;
  top:220px;
  left:300px;
}
#add-sms-recipient{
  position: absolute;
  left:180px;
}

#send-notification{
  position: absolute;
  top:350px;
  left:200px;
}

/* #sms-delivered{
  min-height: 50px;
  max-height: 50px;
  width: 10%;
  background: red;
  border-radius: 100%;
  position: absolute;
  left:100px;
} */


#sms-delivered{
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left:320px;
  top:0px;
}

.sms-delivered-label{
  position: absolute;
  left:350px;
}

#sms-pusher-div{
  position: absolute;
  top:100px;
}

#sms-sent{
  height: 25px;
  width: 25px;
  background-color: navy;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left:200px;
  top:0px;
}

.sms-sent-label{
  position: absolute;
  left:230px
}

#whatsapp-sent{
  height: 25px;
  width: 25px;
  background-color: navy;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left:200px;
  top:0px;
}

.whatsapp-sent-label{
  position: absolute;
  left:230px
}
#sms-read{
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left:450px;
  top:0px;
}



.sms-read-label{
  position: absolute;
  left:480px;
}

#whatsapp-pusher-div{
  position: absolute;
  top:200px;
}

#whatsapp-delivered{
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left:320px;
  top:0px;
}

.whatsapp-delivered-label{
  position: absolute;
  left:350px;
}

#whatsapp-read{
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left:450px;
  top:0px;
}

.whatsapp-read-label{
  position: absolute;
  left:480px;
}

#sms-failed{
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left:560px;
  top:0px;
}

.sms-failed-label{
  position: absolute;
  left:590px;
}

#whatsapp-failed{
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left:560px;
  top:0px;
}

.whatsapp-failed-label{
  position: absolute;
  left:590px;
}