.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}


#table-tally{
    box-shadow: 1px 6px 6px grey!important;
}

#table-gs{
    box-shadow: 1px 6px 6px grey!important;
}

th{
    text-align: center!important;
    font-size: 12px!important;
    color:white!important;
    vertical-align: middle!important;
}

#table-header-fixed th{
    text-align: center!important;
    font-size: 12px!important;
    max-width:131px!important;
    min-width:131px!important;
    background: #838C93!important;
    border-width:5px!important;
    border-style:outset!important;
}

#missing-voucher-data{
    max-width:131px!important;
    min-width:131px!important;
    min-height: 10px!important;
    max-height: 10px!important;
}

#missing-data-row{
    max-width: 100px!important;
}
td{
    text-align: center!important;
    vertical-align: middle!important;
    font-size: 16px!important;
    background: white!important;
    }

#tally-header{
    color:black!important;
    font-size: 16px!important;
}

#gs-header{
    color:white!important;
    font-size: 15px!important;
}

#resync-header{
    min-width:300px!important;
}
#reconcile-btn{
    color: white!important;
}
#reconcile-btn:hover{
    background: white!important;
    color: black!important;
}

body{
    background:rgb(40, 63, 89)!important;
}

.dropbtn {
    background-color: rgb(40, 63, 89);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10px;
  }

  .dropdown {
    position: relative;
    display: inline-block;

  }

  .dropdown-content {
    box-sizing: border-box;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 120px;
    top:38px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 10px!important;
    text-decoration: none;
    display: block;
    position: relative;
    left:10px;
    }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color:rgb(40, 63, 89);}

  i {
    display: inline-block;
    margin-right: 0.8em;
  }

  option {
    color: black;
    padding: 10px 10px!important;
    text-decoration: none;
    display: block;
    position: relative;
    left:10px;
  }

  #inputGroupSelect04 {
    position: relative!important;
    font-family: Arial!important;
    font-size: medium!important;
  }

  #inputGroupSelect04 #option{
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;

  }


button{
  box-shadow: 6px 4px 4px grey!important;
}
